<%- include('partials/header') -%>
<body class=" bg-gradient-to-r from-emerald-50 to-emerald-100 px-32 md:px-80 pt-36">
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative w-1/2"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative w-1/2"><%= el.msg %></div>
        <% }) %>    
    <% } %>

    <div class="bg-white p-6 rounded shadow-xl border border-emerald-300 text-emerald-800">
      <h3 class="text-emerald-800 text-xl">Welcome Back</h3>
      <h1 class="text-3xl bg-clip-text text-transparent bg-gradient-to-r from-emerald-900 to-emerald-100 font-semibold my-2"> Log into your account</h1>
      <form class=" " action="/login" method="POST">
        <div class="my-4">
          <label class="font-bold" for="email">
            Enter your Email
          </label>
          <input class="shadow-md appearance-none border rounded py-2 px-3 leading-tight focus:outline-none focus:shadow-outline w-5/6" type="email" name="email" placeholder="email">
        </div>
        <div class="my-4">
          <label class="font-bold" for="password">
            Enter your Password
          </label>
          <input class="shadow-md appearance-none border rounded py-2 px-3 leading-tight focus:outline-none focus:shadow-outline w-5/6" type="password" name="password" placeholder="enter your password">
        </div>
        <div class="space-x-8 mt-8 flex justify-start">
          <input class="bg-emerald-700 hover:bg-emerald-600 rounded shadow-lg text-emerald-100 px-4 py-2 transition duration-500" type="submit">
          <a class="bg-emerald-700 hover:bg-emerald-600 rounded shadow-lg text-emerald-100 px-4 py-2 transition duration-500" href="/signup">
          Sign up
          </a>
          <a class="bg-emerald-700 hover:bg-emerald-600 rounded shadow-lg text-emerald-100 px-4 py-2 transition duration-500" href="/">
              Back to HomePage
            </a>
        </div>
      </form>
    </div>


</body>

<!-- <div class="">
  <div class="">
      <h1 class=""> MilesTo</h1>
      <form class=" " action="/login" method="POST">
        <div class="">
          <label class="" for="email">
            Email
          </label>
          <input class="" type="email" name="email" placeholder="Email">
        </div>
        <div class="mb-6">
          <label class="" for="password">
            Password
          </label>
          <input class="" type="password" name="password" placeholder="*******">
          <p class="">Please enter your password.</p>
        </div>
        <div class="">
          <input class="" type="submit">
          <a class="" href="/signup">
          Sign up
          </a>
          <a class="" href="/">
              Back to HomePage
            </a>
        </div>
      </form>
    </div>
</div>
</div> -->

<!-- <div class="container bg-[#2b6555] w-3/6 shadow-2xl text-[#cce1cc] rounded-xl bg-opacity-95 border-[#163530] p-4
after:block after:pb-[50%] m-auto items-center justify-center flex max-w-xl">
    <div class="w-full max-w-md text-[#cce1cc]">
        <h1 class="w-80 text-4xl font-bold text-[#cce1cc] relative top-0 left-0 mt-2"> MilesTo</h1>
        <form class=" rounded px-8 pt-6 pb-8 mb-4" action="/login" method="POST">
          <div class="mb-4">
            <label class="blocktext-[#cce1cc] text-sm font-bold mb-2" for="email">
              Email
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-[#2b6555] leading-tight focus:outline-none focus:shadow-outline" type="email" name="email" placeholder="Email">
          </div>
          <div class="mb-6">
            <label class="blocktext-[#cce1cc] text-sm font-bold mb-2" for="password">
              Password
            </label>
            <input class="shadow-md  appearance-none rounded w-full py-2 px-3 text-[#2b6555] mb-3 leading-tight focus:outline-none focus:shadow-outline" type="password" name="password" placeholder="*******">
            <p class="text-black-500 text-xs italic">Please enter your password.</p>
          </div>
          <div class="flex items-center justify-between">
            <input class="submit bg-white opacity-80 hover:bg-[#cce1cc] text-emerald-700 font-semibold hover:text-[#2b6555] py-2 px-4 border border-emerald-900 hover:border-transparent rounded" type="submit">
            <a class="inline-block align-baseline font-bold text-sm text-[#cce1cc] hover:text-emerald-900" href="/signup">
             Sign up
            </a>
            <a class="inline-block align-baseline font-bold text-sm text-[#cce1cc] hover:text-emerald-900" href="/">
                Back to HomePage
               </a>
          </div>
        </form>
      </div>
</div> -->