<%- include('partials/header') -%>

<body class="bg-gradient-to-r from-emerald-50 to-emerald-100">
    <div class="grid grid-cols-2 h-screen ">
        <div class=" flex items-center justify-center ">
            <div class=" items-center justify-center mb-20 pl-16"></divclass>
                <h1 class="text-5xl bg-clip-text text-transparent bg-gradient-to-r from-emerald-900 to-emerald-400 mt-8 mb-8 text-center font-semibold">Welcome to <br><span class="text-6xl font-bold">MilesTo</span></h1>
                <p class="px-4 text-center text-2xl text-emerald-800 leading-relaxed">Inspiring a healthier you by accompanying you on a journey, <br> no matter where your steps guide you.</p>
                <section class="text-center space-x-8 pt-8">
                    <a href="/login" class="bg-emerald-700 hover:bg-emerald-600 rounded shadow-lg text-emerald-100 px-8 py-3 transition duration-500">login</a>
                    <a href="/signup" class="bg-emerald-700 hover:bg-emerald-600 rounded shadow-lg text-emerald-100 px-8 py-3 transition duration-500">sign up</a>
                </section>
            </div>
        </div>
        <div>
            <img src="https://images.unsplash.com/photo-1491147334573-44cbb4602074?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2787&q=80" alt="" class="opacity-90 rounded-l h-screen absolute right-0 w-2/5 ">
        </div>
    </div>
</body>
</html>
