<%- include('partials/header') -%>

<body>
    <div>
        <div class ="text-center mt-64">
            <h1 class = "text-emerald-800 text-5xl">MilesTo</h1>
            <h3 class = "text-2xl mt-5 mb-10 text-emerald-700">Inspiring a healthier you by accompanying you on a journey, <br>no matter where your steps guide you.</h3>
            <h2 class=" text-xl m-5 text-emerald-700"></h2>
            <section>
                <a href="/login" class="bg-transparent opacity-80 hover:bg-emerald-700 text-emerald-700 font-semibold hover:text-white py-2 px-4 border border-emerald-500 hover:border-transparent rounded"> Login</a>
                <a href="/login" class="bg-transparent opacity-80 hover:bg-emerald-700 text-emerald-700 font-semibold hover:text-white py-2 px-4 border border-emerald-500 hover:border-transparent rounded"> Signup</a>
            </section>
        </div>
    </div>
</body>
</html>