<%- include('partials/header') -%>

<%- include('partials/header') -%>

<body class="container  bg-[#065f46] text-[#16a34a] min-w-full h-screen flex">
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger text-red-500"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <div class="container bg-[#a7f3d0] w-3/6 shadow-2xl rounded-xl bg-opacity-95 border-[#163530] p-4
    after:block after:pb-[50%] m-auto items-center justify-center flex max-w-xl">
        <div class="w-full max-w-md text-[#166534]">
            <h1 class="w-80 text-4xl font-bold text-[#166534] relative top-0 left-0"> BREATHE</h1>
            <form class=" rounded px-8 pt-6 pb-8 mb-4" action="/signup" method="POST">
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="userName">
                  Username
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" name="userName" placeholder="USERNAME">
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                  Email
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="email" name="email" placeholder="EMAIL">
              </div>
              <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                  Password
                </label>
                <input class="shadow-md  appearance-none rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="password" name="password" placeholder="*********">
              </div>
              <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="confirmPassword">
                  Confirm Password
                </label>
                <input class="shadow-md  appearance-none rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="password" name="confirmPassword" placeholder="*********">
              </div>
              <div class="flex items-center justify-between">
                <input class="submit bg-emerald-800 hover:bg-emerald-700 text-white font-semibold hover:text-white py-2 px-4 border border-emerald-500 hover:border-transparent rounded" type="submit">
                <a class="inline-block align-baseline font-bold text-sm text-[#166534] hover:text-[#1d373f]" href="/login">
                 LOGIN
                </a>
                <a class="inline-block align-baseline font-bold text-sm text-[#166534] hover:text-emerald-900" href="/">
                    Back to HomePage
                   </a>
              </div>
            </form>
          </div>
        </p>
    </div>
</body>
